.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto;
    width: 80%;
    background-color: #f8f1e9;
    padding: 30px;
    border-radius: 8px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #5a4633;
  }
  
  .row span:last-child {
    font-weight: bold;
  }