body{
    overflow-x: hidden;
}

.mainPage{
margin-left: -70px;
}
.hh{
    margin-left: 100px;
    margin-top: 60px;
    color: #AF8260;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
           
}
.card-container-h {
    margin-left: 150px;
    overflow-x: scroll;
    overflow-x: auto;      
    display: flex;              
    justify-content: space-around; 
    gap: 20px;                 
    scroll-snap-type: x mandatory;      
    -webkit-overflow-scrolling: touch;  
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    margin-right: 50px;
}
.card-container-h::-webkit-scrollbar {
    display: none;  
}
.card{
    background-color: #AF8260;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    flex-shrink: 0;                
    scroll-snap-align: start;       
}
.imgCard{
    width: 80%;
    height: 80%;
    border-radius: 5px;
    margin-top: 15px;
}
.mainh3{
    margin-left: 130px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}
.cardsContainer{
    margin-top: 120px;
}

.mainimg{
    border-radius: 50px;
    float: right;
    top: -35px;
    right: -140px;
    opacity: 0.6; /* Adjust transparency */
    z-index: 1;
    position: relative;
}


@media (max-width: 900px) {
.mainimg{
    display: none;
}

.card-container-h {
width: 75%;
}
.cardsContainer{
    margin-top: 50px;
}
}