.ordered-container {
    width: 100%;
    margin-top: 70px;
    text-align: center;
  }
  
  h2 {
    font-family:'Times New Roman', Times, serif ;
    color: #a47656;
    margin-bottom: 30px;
    font-size: 35px;
  }
  

  .slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide overflow */
    width: 80%; /* Adjust width to your preference */
    margin: auto;
    padding: 0 40px;
  }
  

  .slider {
    display: flex;
    transition: transform 0.3s ease;
    gap: 20px; /* Space between cards */
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile */
    scroll-behavior: smooth; /* Smooth scrolling */
    margin: 10px;
  }

  .slider::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  
  
  /* .ordered-card {
    background-color: #f6f1ec;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    color: #90694C;
    overflow:scroll;
  }
   */
   .ordered-card {
    background-color: #f6f1ec;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    color: #90694C;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ordered-card::-webkit-scrollbar {
    display: none;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-out-slow {
  animation: fadeOutSlow 60s ease-out forwards;
  position: relative;
}

@keyframes fadeOutSlow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.ordered-card {
  transition: all 0.3s ease;
}

.ordered-card.canceling {
  border: 2px solid orange;
}

  

