/* OrderWillBeDelivered.css */
.order-container {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
    color: #90694C;
  }


  
.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide overflow */
    width: 80%; /* Adjust width to your preference */
    margin: auto;
    padding: 0 50px;
  }

  
.slider {
    display: flex;
    transition: transform 0.3s ease;
    gap: 20px; /* Space between cards */
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile */
    scroll-behavior: smooth; /* Smooth scrolling */
  
  }

  .slider::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  



.order-card:hover{
  cursor: pointer;
}  
  
.accept-btn {
    background-color: #90694C;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px; /* Add some space from the content */
    width: 90px;
    

  }

.accept-btn:hover{
  background-color: #906a4cb4;
}  
  




